body {
  background-color: #45040C;
  font-family: 'Times New Roman';
}

/*Anna*/
.logo {
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
height: auto;
}

.nyheder {
position: static;
width: 100%;
height: auto;
left: -25px;
top: 139px;

}
.introtekst {
  text-align: center;
  color: #EEECEC;
  font-family: 'Times New Roman';
  font-size: medium;

}

.bomuld {
margin: 11px;
float: left;
width: 178px;
height: 235px;
left: 202px;
top: 650px;

}

.cashmere {
margin: 11px;
float: right;
width: 178px;
height: 235px;
left: 202px;
top: 650px;

}

.hør {
margin: 11px;
float: right;
width: 178px;
height: 235px;
left: 202px;
top: 650px;
}

.uld {
margin: 11px;
float: left;
width: 178px;
height: 235px;
left: 202px;
top: 650px;
}

.sortoghvid {
position: static;
width: 100%;
height: auto;
left: 0px;
top: 1143px;

}

/*produktside - Louise*/
/*størrelsesbokse*/

.produktbillede-stor{
  width: 368px;
  margin-bottom: 10px;
}

.produktbillede-lille-1{ /*virker ikke*/
  width: 53px;
  height: 72px;
  position: static;
  margin-right: 5px;
}

.produktbillede-lille-2{ /*virker ikke*/
  width: 53px;
  height: 72px;
  position: relative;
}

.produkttekst{
  color: #EEECEC;
}

.button{ /*disse skal styles*/
  height: 48px;
  width: 48px;
  background: #906c74; 
  font-family: 'Times New Roman';
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #EEECEC;
  margin-top: 11px;
  margin-bottom: 11px;
  border: none;

}

.xs-button{
  position: static;
  margin-right: 5px;
}

.s-button{
  position: relative;
  margin-right: 5px;
}

.m-button{
  position: relative;
  margin-right: 5px;
}

.l-button{
  position: relative;
  margin-right: 5px;
}

.xl-button{
  position: relative;
}

.læg-i-kurv-button{ 
  height: 48px;
  width: 142px;
  background: #EEECEC;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  align-items: center;
  color: #45040C;

}

.dropdown-produktside{
  color: #EEECEC;
  box-sizing: border-box;
  margin-top: 11px;
  margin-bottom: 11px;
  border-color: #EEECEC;
  height: 48px;
  width: 390px;

}

.detaljer{
  margin-top: 21px;
}


.mersalg{
  text-align: center;
  color: #EEECEC;
  max-width: 390px;
}

.mersalg1{
  width: 178px;
  height: 253px;
  position: static;
  margin-right: 11px;
}

.mersalg2{
  width: 178px;
  height: 253px;
  position: relative;
}

/*linn*/
/*kategoriside*/
.grid1_1-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.række1kolonne1{
margin: 5px;
display: inline;
place-items: center;
width: 200px;
grid-column: 1/2;
grid-row: 1/1;
}

.række1kolonne2{
  margin: 5px;
  display: inline;
  width: 200px;
  grid-column: 2/2;
  grid-row: 1/1;
  }

.p1v{
margin: none;
text-align: left;
grid-column: 1/2;
grid-row: 2/2;
color: #EEECEC;
}

.p1h{
  margin: none;
  text-align: left;
  grid-column: 2/2;
  grid-row: 2/2;
  color: #EEECEC;
  }













/*footer*/
.grid_1-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  background-color: #EEECEC;
}

.footer_venstre{
  text-align: left;
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-top: none;
  border-bottom: none;

}

.footer_højre{
  text-align: right;
  margin-right: 20px;
}

.footer_bund{
  background-color: #eeecec;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

footer{
  font-family:'Times New Roman', Times, serif;
  font-size:xx-small;
  color:#45040C; 
  background-color: #eeecec;
}


/*>>>>>>> b90ef09005d979bcc0f02ab95bc330020acbfcb2 */
