

/*Anna*/

.nyheder {
position: static;
width: 100%;
height: auto;
left: -25px;
top: 139px;

}
.introtekst {
  text-align: center;
  color: #EEECEC;
  font-family: 'Times New Roman';
  font-size: medium;

}

.bomuld {
margin: 11px;
float: left;
width: 178px;
height: 235px;
left: 202px;
top: 650px;

}

.cashmere {
margin: 11px;
float: right;
width: 178px;
height: 235px;
left: 202px;
top: 650px;

}

.hør {
margin: 11px;
float: right;
width: 178px;
height: 235px;
left: 202px;
top: 650px;
}

.uld {
margin: 11px;
float: left;
width: 178px;
height: 235px;
left: 202px;
top: 650px;
}

.sortoghvid {
position: static;
width: 100%;
height: auto;
left: 0px;
top: 1143px;

}

/*produktside - Louise*/
/*størrelsesbokse*/

body {
  background-color: #45040C;
  font-family: 'Times New Roman';

}

.produktbillede-stor{
  width: 368px;
  margin-bottom: 10px;
}

.produktbillede-lille-1{ /*virker ikke*/
  width: 53px;
  height: 72px;
  position: static;
  margin-right: 10px;
}

.produktbillede-lille-2{ /*virker ikke*/
  width: 53px;
  height: 72px;
  position: relative;
}

.produkttekst{
  color: #EEECEC;
}

.button{ /*disse skal styles*/
  height: 48px;
  width: 48px;
  background: #906c74; 
  font-family: 'Times New Roman';
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #EEECEC;
  margin-top: 11px;
  margin-bottom: 11px;
  border: none;

}

.xs-button{
  position: static;
}

.s-button{
  position: relative;
}

.m-button{
  position: relative;
}

.l-button{
  position: relative;
}

.xl-button{
  position: relative;
}

.læg-i-kurv-button{ /*disse skal styles*/
  height: 48px;
  width: 142px;
  background: #EEECEC;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #45040C;

}

.dropdown-produktside{
  color: #EEECEC;
  box-sizing: border-box;
  margin-top: 11px;
  margin-bottom: 11px;
  border-color: #EEECEC;
  height: 48px;
  width: 390px;

}

.detaljer{
  margin-top: 21px;
}


.mersalg{
  text-align: center;
}

/*linn*/

.footer_bund{
  background-color: #eeecec;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

footer{
  font-family:'Times New Roman', Times, serif;
  font-size:xx-small;
  color:#45040C; 
}


/*>>>>>>> b90ef09005d979bcc0f02ab95bc330020acbfcb2 */
